<style>
#email{
	display:inline-block;
}
.text{
	color:#0011ff
}
</style>

<div class="container">
{{#if users}}
	<div class="card card-body">
		<h3 class="text">User</h3>
		<br>
		{{#each users}}
			<div id="User" class="card bg-dark border-info mb-2 w-100 mx-auto">
			<div id="User" class="border-info">
				<div class="col-sm-12 col-md-12 col-lg-2" id="Email">
							<p class="font-italic text-white">Email</p>
							<p class="text-info" id="email">{{email}}</p>
						</div>
						
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-3" id="name">
							<p class="font-italic text-white" id="name">Name</p>
							<p class="text-info">
								{{name}}
							</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-3" id="password">
							<p class="font-italic text-white" id="password">Password</p>
							<p class="text-info">
								********
							</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-3" id="usertype">
							<p class="font-italic text-white" id="usertype">User Type</p>
							<p class="text-info">
								{{UserType}}
							</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-3" id="contactNo">
							<p class="font-italic text-white" id="contactNo">Contact Number</p>
							<p class="text-info">
								{{ContactNo}}
							</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-3" id="securityqn">
							<p class="font-italic text-white">Security Question</p>
							<p class="text-info">
								{{SecurityQn}}
							</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-3" id="securityanswer">
							<p class="font-italic text-white">Security Answer</p>
							<p class="text-info">
								********
							</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-2">
							<p class="font-italic"></p>
							<a href="/user/edit/{{id}}" class="card-link text-success">
								<i class="fas fa-pencil-alt"></i>
								Edit Information
							</a>
							
						</div>
					</div>

				</div>

				
			</div>
		</div>
		{{/each}}
	</div>

</div>
{{else}}
	<h3>No users listed</h3>
{{/if}}