<style>
	
</style>

<div class="container">
	<div class="card card-body">
		<h3>Edit</h3>
		<form action="/user/saveEditedUser/{{id}}" method="post">
			
			<div class="form-group">
				<label class="font-italic" for="description">Name</label>
				<input class="form-control" id="name" name="name" value="{{name}}"></input>
			</div>
			<div class="form-group">
				<label class="font-italic" for="description">Email</label>
				<input class="form-control" id="email" name="email" value="{{email}}"></input>
			</div>
			<div class="form-group">
					<label for="password2">Password</label>
					<input type="password"  name="password" class="form-control" value="{{password}}">
				</div>
			<div class="form-group">
				<label class="font-italic" for="description">Contact Number</label>
				<input class="form-control" id="ContactNo" name="ContactNo" value="{{ContactNo}}"></input>
			</div>
			<div class="form-group">
					<label for="SecurityQn">Security Question</label>
					<input type="SecurityQn"  name="SecurityQn" class="form-control" value="{{SecurityQn}}">
				</div>
			<div class="form-group">
					<label for="password2">Security Answer</label>
					<input type="SecurityAnswer"  name="SecurityAnswer" class="form-control" value="{{SecurityAnswer}}">
				</div>
		</div>
			<br>
			<button id="butAddVideo" type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</div>