<style>
	
</style>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<img class="logo" src="/img/SAlogo1.png">
			<h3 class="text-center">Account Register</h3>
			<form action="/user/registerUser" method="post" id="registerForm">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" name="name" value="{{name}}" required>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" class="form-control" value="{{email}}" required>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password"  name="password" class="form-control" value="{{password}}" required>
				</div>
				<div class="form-group">
					<label for="password2">Confirm Password</label>
					<input type="password"  name="password2" class="form-control" value="{{password2}}" required>
				</div>
				<div class="form-group">
					<label for="name">Contact Number</label>
					<input type="ContactNo" class="form-control" name="ContactNo" value="{{ContactNo}}" required>
				</div>
				{{#ifEquals user.dataValues.UserType "Admin"}}
				<div class="form-group">
					<label for="name">User Type (Admin/Customer)</label>
					<select name="UserType" id="UserType" class="form-control" required>
						<option value="" style="display: none;" disabled selected>-- Choose a User Type --</option>
						<option value="Admin">Admin</option>
						<option value="Customer">Customer</option>
					</select>
				</div>
				{{/ifEquals}}
				<div class="form-group">
					<label for="SecurityQn">Security Question</label>
					<select name="SecurityQn" id="SecurityQn" class="form-control" required>
						<option value="" style="display: none;" disabled selected>-- Choose a Security Question --</option>
						<option value="What is the first game you beat?">What is the first game you beat?</option>
						<option value="What is the name of your best friend from childhood?">What is the name of your best friend from childhood?</option>
						<option value="What primary school did you attend?">What primary school did you attend?</option>
						<option value="What was your childhood nickname?">What was your childhood nickname?</option>
						<option value="What is your favourite pet's name?">What is your favourite pet's name?</option>
						<option value="What is your favourite event that you attended?">What is your favourite event that you attended?</option>
						<option value="What was your favorite place to visit as a child?">What was your favorite place to visit as a child?</option>
					</select>
				</div>
				<div class="form-group">
					<label for="SecurityAnswer">Answer</label>
					<input type="SecurityAnswer"  name="SecurityAnswer" class="form-control" value="{{SecurityAnswer}}" required>
				</div>
				<div class="g-recaptcha" data-sitekey="6LeKxbAZAAAAAChidra3BPhQ4Gn9bChZkZp0KHU3"></div>
				<button type="submit" class="btn btn-primary">Submit</button>
			<script>
				document.getElementById('registerForm').addEventListener('submit',submitForm);

				function submitForm(e){
					e.preventDefault();

					const email=document.querySelector('email').value;
					const password=document.querySelector('password').value;
					const captcha=document.querySelector('#g-recaptcha-response'.value;

					fetch('/registerUser',{
						method:'POST',
						headers:{
							'Accept':'application/json,text/plain,*/*',
							'Content-type':'application/json'
						},
						body:JSON.stringify({email:email,password:password,captcha:captcha});
					})
					.then((res)=>res.json())
					.then((data)=>{
						console.log(data);
						alert(data.msg);
					})
				}
			</script>
			</form>
		</div>
	</div>
</div>
