<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    

</head>
<style>
title{
    text-align:center;
}

.total{
    float:right;
    padding-top:50px;
    padding-right:50px;
}
#pay{
    float:right;

    padding-right:50px;
}

h1{font-weight:bold;
font-size:50px;
}
th{
  padding: 70px;
  border: collapse;
  border-left: 0px none;
  border-right: 0px none;
  border-top: 0px none;
}
tr{
  text-align: center;
  border: collapse;
}
td
{
border-left: 0px none;
border-right: 0px none;
border-top: 0px none;
border-bottom: 0px none;
}
h1{
    text-align: center;
}
#del{
    text-align: center;
    float:inherit;

}
.code{
    float: right;
}

</style>

<body>
<h1>Shopping Cart</h1>
<table  id="table" align="center" border="1">
<tr>
  <th colspan="2">Product</th>
  <th>Price</th>
  <th>Quantity</th>
  <th>Remove</th>
  <th>Total</th>
</tr>
  <br>
    <!--This is a comment. Comments are not displayed in the browser -->
{{#if orders}}    
<tr>
    {{#each orders}}
    <td><img src='/uploads/{{productImage}}'width="120px" height="100px"></td>
    <td>{{productTitle}}</td>
    <td>{{price}}</td>
    <td>{{quantity}}&nbsp;&nbsp;<form id="del" action="/order/update/{{id}}" method="get">
                <input type="submit" value="&#xf044" class="fa fa-edit" style="color:blue;border:none;float:center;cursor:pointer;font-size:25px;">
            </form></td>
    <td id="del"><form action="/order/delete/{{id}}" method="POST">
                <input type="submit" value="&#xf00d" class="fa fa-close" style="color:red;border:none;float:center;cursor:pointer;font-size:25px;">
            </form></td>
    <td>${{totalPrice}}</td>
</tr>
{{/each}}
    </table>

<
<div class="total">
       <form action="">
  <label for="discode">Discount Code:</label>
  
  <input type="text" id="code" name="code" value=""><br><br>
  <input type="submit" value="Enter">    
  
</form>
    <div class="total-item">
        <label class="Bottomlabel">Subtotal:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="total1" id="cart-subtotal">$<span id="subtotal"></span></div></label>
        
    </div>
    <div class="shipping">
        <label class="Bottomlabel">Shipping Fee:&nbsp;&nbsp;&nbsp;<div class="Shipping-total" id="shipping">$10</div></label>
        
    </div>
    <div class="total-cost">
        <label class="Bottomlabel">Total Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="finalprice" id="final">$<span id="total"></span></div></label>
    </div>    


{{else}}
	<h3>No Items in cart</h3>
{{/if}}
    </>
    <form method="GET" action="/order/address">
    <input type="hidden" id="totalprice" name="totalprice">
    <button id="pay" class="btn btn-primary shop-item-button" type="Submit" >Proceed to payment</button>
       
        </form>
</div>
<script>
window.onload = load()
function load() {
    /* TOTAL CALCULATION */
    var total = 0;
    var subtotal = 0;
    var table = document.getElementById('table');
    for (i = 1; i < table.rows.length; i++) {
        var objCells = table.rows.item(i).cells;
        total += parseInt(objCells.item(2).innerHTML) * parseInt(objCells.item(3).innerHTML)+10;
    }
     for (i = 1; i < table.rows.length; i++) {
        var objCells = table.rows.item(i).cells;
        subtotal += parseInt(objCells.item(2).innerHTML) * parseInt(objCells.item(3).innerHTML);
    }
    document.getElementById('total').innerHTML = total;
    document.getElementById('subtotal').innerHTML = subtotal;
    document.getElementById('totalprice').value = total;
}

</script>
</body>