<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">

</head>
<style>
title{
    text-align:center;
}

.total{
    float:right;
    padding-top:50px;
    padding-right:50px;
}
#pay{
    float:right;

    padding-right:50px;
}

h1{font-weight:bold;
font-size:20px;
}
th{
  padding: 70px;
  border: collapse;
  border-left: 0px none;
  border-right: 0px none;
  border-top: 0px none;
}
tr{
  text-align: center;
  border: collapse;
}
td
{
border-left: 0px none;
border-right: 0px none;
border-top: 0px none;
border-bottom: 0px none;
}

</style>

<body>
<h1>Shopping Cart</h1>
<table  align="center" border="1">
<tr>
  <th>Product</th>
  <th>Price</th>
  <th>Quantity</th>
  <th>Remove</th>
  <th>Total</th>
</tr>
  <br>
    <!--This is a comment. Comments are not displayed in the browser -->
    {% for cartitem in cartList %}
        <tr>
        <td>{{ cartitem.get_prodname() }}</td>
        <td>${{ cartitem.get_price() }}</td>
        <td>{{ cartitem.get_quantity() }}
        <a href="/updateCart/{{cartitem.get_id()}}" class="btn btn-warning">Edit</a></td>
        <td>
            <form action="{{url_for('removeFromCart', id=cartitem.get_id())}}" method="POST">
                <input type="submit" value="Remove" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove {{cartitem.get_prodname()}}?')">
            </form>.
        </td>
        <td>$ {{ cartitem.get_total() }}</td>
{% endfor %}



</tr>
    </table>


<div class="total">
    <div class="total-item">
        <label class="Bottomlabel">Subtotal:</label>
        <div class="total1" id="cart-subtotal">${{ subtotal }}</div>
    </div>
    <div class="shipping">
        <label class="Bottomlabel">Shipping Fee:</label>
        <div class="Shipping-total" id="shipping">$10</div>
    </div>
    <div class="total-cost">
        <label class="Bottomlabel">Total Price:</label>
        <div class="finalprice" id="final">${{ totalprice }}</div>

    </div>
    <a href="/payment">
    <button id="pay" class="btn btn-primary shop-item-button" type="Submit" >Proceed to payment</button>
        </a>
</div>



</body>