<!--.col-	.col-sm-  	.col-md-	.col-lg-	.col-xl- -->

<a id="stickyBtnz" href="../product/addProducts"><span onclick="topFunction()" id="stickyBtn" title="Go to top"><div class="liquid"></div><i class="fa fa-plus"></i></span></a>

<div class="containerz">
{{#if products}}
	<div class="card card-body">
		<h3 class="text-warning" id="testtest">Your Products</h3>
		<div class="container">
			<input type="text" class="form-control mr-sm-2" id="myInput"  placeholder="Search for products.." title="Type in a name">
			<div class="suggestions" ></div>
		</div>
		<br>
		{{#each products}}
<div class="viewz" id="Product">
  <div class="photo">
    <img src='/uploads/{{productImage}}'>
  </div>
  <div class="description">
    <h2>{{productTitle}}</h2>
	<h4>{{brand}}</h4>
	<h8>{{type}}</h8>
    <h1>${{price}}</h1>
    <p>{{description}}</p>
	<a href="/product/edit/{{id}}" class="card-link text-success">
		<button>Edit</button>
	</a>
	<a href="/product/delete/{{id}}" >
		<button>Delete</button>
	</a>
  </div>
</div>
		{{/each}}
	</div>

</div>
{{else}}
	<h3>No products listed</h3>
{{/if}}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
	$(document).ready(function(){
	$("#myInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#Product ").filter(function() {
		$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	});
	});
</script>


<script>
	var mybutton = document.getElementById("stickyBtn");

	window.onscroll = function() {scrollFunction()};

	function scrollFunction() {
	if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {
		mybutton.style.display = "block";
	} else {
		mybutton.style.display = "none";
	}
	}
</script>
