<!--.col-	.col-sm-  	.col-md-	.col-lg-	.col-xl- -->


<script>
	let searchArray = []
</script>

<a id="stickyBtnz" href="../product/addProducts"><span onclick="topFunction()" id="stickyBtn" title="Go to top"><div class="liquid"></div><i class="fa fa-plus"></i></span></a>

<div class="containerz">
{{#if products}}
	<div class="card card-body">
		<h3 class="text-warning" id="testtest">Your Products</h3>
		<div class="container">
			<input type="text" class="form-control mr-sm-2" id="myInput"  placeholder="Search for products.." title="Type in a name">
			<div class="suggestions" ></div>
		</div>
		<br>
		{{#each products}}
		<!--
			<div id="Product" class="card bg-dark border-info mb-2 w-100 mx-auto">
			<div id="productHeader" class="border-info">
				<h5 id="titlez" class="card-title text-white">{{productTitle}}&nbsp;&nbsp;<img src='/uploads/{{productImage}}' width="90px" height="70px" id="productImages"></h5>
						
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-3">
							<p class="font-italic text-white">Type</p>
							<p class="text-info">
								{{type}}
							</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-3">
							<p class="font-italic text-white">Brand</p>
							<p class="text-info">
								{{brand}}
							</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-2">
							<p class="font-italic text-white">Price</p>
							<p class="text-info">${{price}}</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-2">
							<p class="font-italic text-white">Date Release</p>
							<p class="text-info">{{formatDate dateRelease 'DD MMM YYYY'}}</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-2">
							<p class="font-italic"></p>
							<a href="/product/edit/{{id}}" class="card-link text-success">
								<i class="fas fa-pencil-alt"></i>
								Edit
							</a>
							<a href="" class="card-link text-danger" data-toggle="confirmation"
							   data-title="Confirm delete?">
								<i class="far fa-trash-alt"></i>
								Delete
							</a>
							<a href="" class="card-link text" data-toggle="confirmation">
								<i class="far fa-cart-alt"></i>
								Add to cart
							</a>
						</div>
					</div>

				</div>

				<div class="accordion bg-dark" id="storyAccordion">
					<div class="card-header border-info" id="headingOne">
						<button class="btn btn-link text-info" type="button" data-toggle="collapse"
								data-target="#collapseOne{{id}}"
								aria-expanded="true" aria-controls="collapseOne{{id}}">
							Description<i class="fas fa-chevron-down"></i>
						</button>

					</div>

					<div id="collapseOne{{id}}" class="collapse" aria-labelledby="headingOne"
						 data-parent="#storyAccordion">
						<div class="card-body text-white">	
						  {{description}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			searchArray.push(`{{productTitle}}`)
		</script>
		-->





<div class="viewz" id="Product">
  <div class="photo">
    <img src='/uploads/{{productImage}}'>
  </div>
  <div class="description">
    <h2>{{productTitle}}</h2>
	<h4>{{brand}}</h4>
	<h8>{{type}}</h8>
    <h1>${{price}}</h1>
    <p>{{description}}</p>
	<a href="/product/edit/{{id}}" class="card-link text-success">
		<button>Edit</button>
	</a>
	<a href=""  >
		<button>Delete</button>
	</a>
  </div>
</div>
		{{/each}}
	</div>

</div>
{{else}}
	<h3>No products listed</h3>
{{/if}}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
	$(document).ready(function(){
	$("#myInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#Product ").filter(function() {
		$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	});
	});
</script>


<script>
	function redirects() {
		document.getElementById(`{{productTitle}}`) = function () {
			location.href = "productDetails.handlebars"
		} 
	}

	console.log(searchArray)
	const searchSugg = [
		{name: searchArray[0]},
		{name: searchArray[1]},
		{name: searchArray[2]},
		{name: searchArray[3]},
		{name: searchArray[4]},
		{name: searchArray[5]},
		{name: searchArray[6]},
		{name: searchArray[7]},
		{name: searchArray[8]},
		{name: searchArray[9]},
		{name: searchArray[10]},
	];

	const searchInput = document.querySelector('#myInput');
	const suggestionsPanel = document.querySelector('.suggestions');

	searchInput.addEventListener('keyup', function() {
		const input = searchInput.value;
		suggestionsPanel.innerHTML = '';
		const suggestions = searchSugg.filter(function(ss) {
			return ss.name.toLowerCase().startsWith(input);
		});

		suggestions.forEach(function(suggested) {
			const div = document.createElement('div');
			div.innerHTML = suggested.name;
			suggestionsPanel.appendChild(div);
		});

		if (input === '') {
			suggestionsPanel.innerHTML = '';  
		}
	})
</script>

<script>
	var mybutton = document.getElementById("stickyBtn");

	window.onscroll = function() {scrollFunction()};

	function scrollFunction() {
	if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {
		mybutton.style.display = "block";
	} else {
		mybutton.style.display = "none";
	}
	}
</script>
