<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->


<div class="container">
{{#if products}}
	<div class="card card-body">
		<h3 class="text-primary">Video Jots</h3>
		{{#each products}}
			<div class="card border-primary mb-2 w-100 mx-auto">
				<div class="card-header">
					<h5 class="card-name">{{name}}</h5>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-3">
							<p class="font-italic">Subtitles</p>
							<p class="text-info">
								{{subtitles}}
							</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-3">
							<p class="font-italic">Language</p>
							<p class="text-info">
								{{language}}
							</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-2">
							<p class="font-italic">Classification</p>
							<p class="text-info">{{classification}}</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-2">
							<p class="font-italic">Date Release</p>
							<p class="text-info">{{formatDate dateRelease 'DD MMM YYYY'}}</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-2">
							<p class="font-italic"></p>
							<a href="/product/edit/{{id}}" class="card-link">
								<i class="fas fa-pencil-alt"></i>
								Edit
							</a>
							<a href="" class="card-link" data-toggle="confirmation"
							   data-title="Confirm delete?">
								<i class="far fa-trash-alt"></i>
								Delete
							</a>
						</div>
					</div>

				</div>

				<div class="accordion" id="storyAccordion">
					<div class="card-header" id="headingOne">
						<button class="btn btn-link" type="button" data-toggle="collapse"
								data-target="#collapseOne{{id}}"
								aria-expanded="true" aria-controls="collapseOne{{id}}"
						>
							description<i class="fas fa-chevron-down"></i>
						</button>

					</div>

					<div id="collapseOne{{id}}" class="collapse" aria-labelledby="headingOne"
						 data-parent="#storyAccordion">
						<div class="card-body">
						  {{story}}
						</div>
					</div>
				</div>
			</div>
		{{/each}}
	</div>

</div>
{{else}}
	<h3>No videos jotted</h3>
{{/if}}
