<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->


<div class="container">
	<h1>Delivery History</h1>
	<nav>
		<ul>
			<li>All</li>
			<li>Waiting</li>
			<li>Delivering</li>
			<li>Reached</li>
		</ul>
	</nav>
	<input type="text" class="form-control mr-sm-2" id="myInput" onkeyup="myFunction()" placeholder="Search for deliveries.." title="Type in a name">
{{#if deliveries}}
	<table  id="table" align="center" border="1">
	<tr>
	<th colspan="2">Product</th>
	<th>Price</th>
	<th>Quantity</th>
	<th>Remove</th>
	<th>Total</th>
	</tr>
  <br>
    <!--This is a comment. Comments are not displayed in the browser -->
{{#if deliveries}}    
<tr>
    {{#each deliveries}}
    <td><img src='/uploads/{{productImage}}'width="120px" height="100px"></td>
    <td>{{productTitle}}</td>
    <td>{{price}}</td>
    <td>{{quantity}}&nbsp;&nbsp;<form id="del" action="" method="get">
                <input type="submit" value="&#xf044" class="fa fa-edit" style="color:blue;border:none;float:center;cursor:pointer;font-size:25px;">
            </form></td>
    <td id="del"><form action="/order/delete/{{id}}" method="POST">
                <input type="submit" value="&#xf00d" class="fa fa-close" style="color:red;border:none;float:center;cursor:pointer;font-size:25px;">
            </form></td>
    <td>${{totalPrice}}</td>
</tr>
{{/each}}
    </table>
	</div>

</div>

{{else}}
	<h3>No Delivery Order</h3>
{{/if}}

