<div class="containerz">
	<h1>Delivery History</h1>
{{#if deliveries}}
	<div class="card card-body">
		<h2 class="text-warning" id="testtest">Your Devliveries</h2>
		<div class="container">
			<input type="text" class="form-control mr-sm-2" id="myInput"  placeholder="Search for deliveries.." title="Type in a name">
			<div class="suggestions" ></div>
		</div>
		<br>
		{{#each deliveries}}
		<div class="viewz" id="Delivery">
  <div class="photo">
    <img src='/uploads/{{productImage}}'>
  </div>
  <div class="description">
    <h2>Product : {{productTitle}}</h2>
	<h3>Quantity :{{quantity}}</h3>
    <h1>Price : ${{price}}</h1>
	<h1>status : {{status}}</h1>
	<form action="/Delivery/OrderCheckUser/{{id}}" method="POST">
		<button type="submit">Check</button>
	</form>
  </div>
</div>
		{{/each}}
	</div>

</div>
{{else}}
	<h3>No Devliveries listed</h3>
{{/if}}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
	$(document).ready(function(){
	$("#myInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#Delivery ").filter(function() {
		$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	});
	});
</script>