
<div class="container">
    <h1>Deliveryman List</h1>
    <div class="container">
        <input type="text" class="form-control mr-sm-2" id="myInput"  placeholder="Search for deliveryman.." title="Type in a name">
        <div class="suggestions" ></div>
    </div>
    <span id="orderId" hidden>{{orderId}}</span>
    {{#if deliverymans}}
        <div class="card card-body">
            {{#each deliverymans}}
            <div class="viewz" id="Deliveryman">
                <div class="description">
                <h1>Deliveryman : {{id}}</h1>
                <h2>Name : {{fname}} {{lname}}</h2>
                <h3>Phone Number :{{phone}}</h3>
                <form class="sendDelivery" onsubmit="return confirm('click ok to assign deliveryman')" action="/Delivery/senddelivery/{{id}}/" method="POST">
                    <button type="submit">Assign</button>
                </form>
                </div>
            </div>
            {{/each}}

        </div>
    {{else}}
        <h3>No Devliveryman Employed</h3>
    {{/if}}
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
	$(document).ready(function(){
	$("#myInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#Deliveryman ").filter(function() {
		$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	});
	});

    for (var item = 0; item < document.getElementsByClassName("sendDelivery").length; item++) {
        document.getElementsByClassName("sendDelivery")[item].action += document.getElementById("orderId").innerText;
    }
</script>

<style>
    .h1{
       font:bold;
    }
</style>