<!--
<div class="container">
	<h1>Order Check</h1>
	<div class="row">
		<div>
		<h2 class="text-warning" id="testtest">Details Of The Delivery</h2>
			
				<div class="photo">
					<img src='/uploads/{{productImage}}'>
				</div>
					<div class="description">
						<div>
							<h2>Product : {{delivery.dataValues.productTitle}}</h2>
							<h3>Quantity :{{delivery.dataValues.quantity}}</h3>
							<h3>UserId : {{delivery.dataValues.userId}}</h3>
							<h1>Price : ${{delivery.dataValues.price}}</h1>
							<h3>Status : {{delivery.dataValues.status}}</h3>
						</div>
						<div class="col-md-7">
							<h2 class="text-warning"> Details of Recipient</h2>
							<p>Name Of The Recipient :{{address.dataValues.fname}} {{address.dataValues.lname}}</p>
							<p>Email: {{address.dataValues.email}}</p>
							<p>Address : {{address.dataValues.address}}</p>
							
						</div>
						<a href="/Delivery/makedelivery"><button class="btn btn-primary">Make Delivery</button></a>
						<a href="/Delivery/listDlivery"><button class="btn btn-primary">Back</button></a>
					</div>
		
	</div>
		
		
	</div>

</div>
-->
<div class="containter">
	<div class="row">
		<div class="col-md-7">
			<div class="photo">
					<img src='/uploads/{{delivery.dataValues.productImage}}'>
			</div>
		</div>
		<div class="col-md-7">
			<div>
				<h1>Order ID : {{delivery.dataValues.id}}</h1>
				<h2>Product : {{delivery.dataValues.productTitle}}</h2>
				<h3>Quantity :{{delivery.dataValues.quantity}}</h3>
				<h3>Status : {{delivery.dataValues.status}}</h3>
			</div>
			<div class="col-md-7">
				<h2 class="text-warning"> Details of Recipient</h2>
				<p>Name Of The Recipient :{{address.dataValues.fname}} {{address.dataValues.lname}}</p>
				<p>Email: {{address.dataValues.email}}</p>
				<p>Country : {{address.dataValues.country}}</p>
				<p>Address : {{address.dataValues.address}}</p>
				<p>Postal Code : {{address.dataValues.postalcode}}</p>
				<p>Phone Number : {{address.dataValues.phonenum}}</p>
				
				
			</div>
			{{#if ordered}}
			<a href="/Delivery/makedelivery/{{delivery.id}}"><button class="btn btn-primary">Make Delivery</button></a>
			{{/if}}
			<a href="/Delivery/listDelivery"><button class="btn btn-primary">Back</button></a>
		</div> 
	</div>

</div>

<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	
<style>
	.photo{
		margin-top: 100px;
	}
	.container{
		bottom: 100px;
	}
</style>