
<div class="container">
	<h1>Order Check</h1>
	<div class="row">
		

		<div class="col-md-7">
			<img src='/uploads/{{delivery.dataValues.productImage}}'width="120px" height="100px">
			<h1>Order ID : {{delivery.dataValues.id}}</h1>
			<h2>Product : {{delivery.dataValues.productTitle}}</h2>
			<h3>Quantity :{{delivery.dataValues.quantity}}</h3>
			<h3>Status : {{delivery.dataValues.status}}</h3>
		</div>
		
		<a href="/Delivery/listdeliveryforuser"><button class="btn btn-primary">Back</button></a>
	</div>

</div>



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>